include v-space.mixin.pug

+v-space('paragraphs')
  +v-space--line Paragraph 1
  +v-space--line Paragraph 2
  +v-space--line Paragraph 3

+v-space('section')
  +v-space--line Title
  +v-space--line Content

+v-space('sections')
  +v-space--line Section 1
  +v-space--line Section 2
  +v-space--line Section 3

+v-space('paragraphs', {align: 'center'})
  +v-space--line Align center 1
  +v-space--line Align center 2
  +v-space--line Align center 3
