mixin v-space(kind, options)
  -const {align} = options || {};
  -const alignClass = align ? `-${align}` : null;
  .v-space(class=[`-${kind}`, alignClass])
    block
mixin v-space--line(options)
  -const {align} = options || {};
  -const alignClass = align ? `-${align}` : null;
  .v-space--line(class=[alignClass])
    block
