@use '../token/breakpoint';

:root {
  --size-width-content: 1500px;
  --size-spacing-cell: 0.5rem;
  --size-spacing-paragraphs: 1rem;
  --size-spacing-section: 1.5rem;
  --size-spacing-sections: 2rem;
  --size-spacing-horizontal-menu-main: 2.5rem;
  --size-spacing-vertical-menu-main: 1rem;
  --size-spacing-sponsors: 2.5rem;
  --size-spacing-horizontal-page: 1vw;
  --size-spacing-header: 80px 2vw;

  @media screen and (min-width: breakpoint.$standard) {
    --size-spacing-header: 80px 100px;
    --size-spacing-horizontal-page: 100px;
  }
}
