.tikui-component--markdown a, .tikui-link {
  text-decoration: underline;
  color: inherit;
  font: inherit;
}

.tikui-list, .tikui-component--markdown ul, .tikui-component--markdown ol {
  margin: 0;
  padding: 0;
  list-style-position: inside;
  line-height: 1.2;
  color: #310ca3;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
}

.tikui-component--markdown p, .tikui-paragraph {
  margin: 0;
  padding: 0;
  line-height: 1.2;
  color: #310ca3;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
}

.tikui-component--markdown h2, .tikui-title-section, .tikui-component--markdown h3, .tikui-title-part, .tikui-component--markdown h1, .tikui-title-main, .tikui-title-brand {
  margin: 0;
  padding: 0;
  line-height: 1.2;
  white-space: pre-line;
  color: #310ca3;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}

.tikui-title-brand {
  text-decoration: none;
  font-size: 24px;
}

.tikui-component--markdown h1, .tikui-title-main {
  font-size: 76px;
}

@supports (-webkit-text-stroke: 1px #310ca3) {
  .tikui-component--markdown h1--bordered, .tikui-title-main--bordered {
    -webkit-text-stroke: 1px #310ca3;
    -webkit-text-fill-color: transparent;
  }
}

.tikui-component--markdown h3, .tikui-title-part {
  font-size: 24px;
}

.tikui-component--markdown h2, .tikui-title-section {
  font-size: 46px;
}

.tikui-button {
  box-sizing: border-box;
  display: inline-block;
  outline: none;
  border: 1px solid #fa9fb8;
  border-radius: 30px;
  background-color: #fa9fb8;
  cursor: pointer;
  padding: 19px;
  min-width: 176px;
  text-align: center;
  text-decoration: none;
  line-height: 20px;
  color: #310ca3;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: bold;
}
.tikui-button:hover {
  background-color: #f8789b;
}
.tikui-button:focus {
  box-shadow: 0 0 5px #310ca3;
}
.tikui-button.-secondary {
  border-color: #fa9fb8;
  background-color: #fff;
  color: #310ca3;
}
.tikui-button.-secondary:hover {
  background-color: #fa9fb8;
}

.tikui-header-item {
  display: inline-block;
  position: relative;
  margin: 0;
  outline: none;
  border: 0;
  border-radius: 0;
  background: none;
  cursor: pointer;
  padding: 0 0 15px;
  text-decoration: none;
  color: #310ca3;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
}
.tikui-header-item:focus .tikui-header-item--text {
  border-radius: 3px;
  box-shadow: 0 0 5px #310ca3;
}
.tikui-header-item:hover .tikui-header-item--text {
  text-decoration: underline;
}
.tikui-header-item--feedback {
  display: none;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
}
.tikui-header-item--feedback::before {
  display: inline-block;
  border-radius: 50%;
  background-color: #ffab82;
  width: 9px;
  height: 9px;
  content: "";
}
.tikui-header-item.-selected {
  font-weight: bold;
}
.tikui-header-item.-selected .tikui-header-item--feedback {
  display: block;
}

@media screen and (max-width: 1400px) {
  .tikui-header-item {
    font-size: 5vw;
  }
}
.tikui-image {
  max-width: 100%;
}

.tikui-logo {
  max-width: 100%;
}

.tikui-nav-item {
  display: inline-block;
  text-decoration: none;
  color: #310ca3;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
}
.tikui-nav-item:hover {
  text-decoration: underline;
}
.tikui-nav-item.-selected {
  font-weight: bold;
}
.tikui-nav-item.-main {
  font-size: 24px;
}

.tikui-paragraph.-bold {
  font-weight: bold;
}

.tikui-quote {
  margin: 0;
  color: #310ca3;
  font-family: "Montserrat", sans-serif;
}
.tikui-quote--text {
  margin: 0;
  font-size: 16px;
}
.tikui-quote--author {
  margin-left: 24px;
  font-size: 14px;
}

@media screen and (max-width: 1400px) {
  .tikui-title-brand {
    font-size: 7vw;
  }
}
.tikui-atom {
  box-sizing: border-box;
  position: relative;
  border: 1px solid #ffd5c1;
  border-radius: 50%;
  padding-bottom: 100%;
  width: 100%;
}
.tikui-atom--heart {
  box-sizing: border-box;
  display: flex;
  position: absolute;
  top: 60px;
  right: 60px;
  bottom: 60px;
  left: 60px;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #ffd5c1;
  padding: 16px;
  text-align: center;
}

.tikui-component {
  margin-bottom: 24px;
}
.tikui-component:last-child {
  margin-bottom: 0;
}
.tikui-component--markdown, .tikui-component--render, .tikui-component--code {
  margin-bottom: 24px;
}
.tikui-component--markdown:last-child, .tikui-component--render:last-child, .tikui-component--code:last-child {
  margin-bottom: 0;
}
.tikui-component--markdown h1 {
  margin-bottom: 24px;
}
.tikui-component--markdown h1:last-child {
  margin-bottom: 0;
}
.tikui-component--markdown h2 {
  margin-bottom: 24px;
}
.tikui-component--markdown h2:last-child {
  margin-bottom: 0;
}
.tikui-component--markdown h3 {
  margin-bottom: 24px;
}
.tikui-component--markdown h3:last-child {
  margin-bottom: 0;
}
.tikui-component--markdown p {
  margin-bottom: 16px;
}
.tikui-component--markdown p.-bold {
  font-weight: bold;
}
.tikui-component--markdown p:last-child {
  margin-bottom: 0;
}
.tikui-component--markdown ul, .tikui-component--markdown ol {
  margin-bottom: 16px;
}
.tikui-component--markdown ul:last-child, .tikui-component--markdown ol:last-child {
  margin-bottom: 0;
}

.tikui-header-navigation {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}
.tikui-header-navigation--slot {
  margin: 0 80px 0 0;
  padding: 0;
}
.tikui-header-navigation--slot:last-child {
  margin-right: 0;
}

@media screen and (max-width: 1400px) {
  .tikui-header-navigation {
    flex-direction: column;
    align-items: center;
  }
  .tikui-header-navigation--slot {
    margin: 0;
  }
}
.tikui-nav-vertical {
  display: block;
  position: sticky;
  margin: 0;
  background-color: #ffd5c1;
  padding: 32px;
  list-style: none;
}
.tikui-nav-vertical--item {
  padding-bottom: 16px;
  list-style: none;
}
.tikui-nav-vertical--item:last-child {
  padding-bottom: 0;
}
.tikui-nav-vertical--item.-level-1 {
  padding-bottom: 24px;
}
.tikui-nav-vertical--item.-level-1 {
  padding-left: 0px;
}
.tikui-nav-vertical--item.-level-2 {
  padding-left: 16px;
}
.tikui-nav-vertical--item.-level-3 {
  padding-left: 32px;
}
.tikui-nav-vertical--item.-level-4 {
  padding-left: 48px;
}
.tikui-nav-vertical--item.-level-5 {
  padding-left: 64px;
}
.tikui-nav-vertical--item.-level-6 {
  padding-left: 80px;
}

.tikui-dual-section {
  display: flex;
  align-items: center;
}
.tikui-dual-section.-s100.-right-to-left > .tikui-dual-section--slot {
  margin-left: 100px;
}
.tikui-dual-section.-s100.-left-to-right > .tikui-dual-section--slot {
  margin-right: 100px;
}
.tikui-dual-section.-s200.-right-to-left > .tikui-dual-section--slot {
  margin-left: 200px;
}
.tikui-dual-section.-s200.-left-to-right > .tikui-dual-section--slot {
  margin-right: 200px;
}
.tikui-dual-section--slot {
  flex-basis: 0;
  flex-grow: 1;
}
.tikui-dual-section.-right-to-left {
  flex-direction: row-reverse;
}
.tikui-dual-section.-right-to-left > .tikui-dual-section--slot:first-child {
  text-align: left;
}
.tikui-dual-section.-right-to-left > .tikui-dual-section--slot:last-child {
  margin-left: 0;
  text-align: right;
}
.tikui-dual-section.-left-to-right {
  flex-direction: row;
}
.tikui-dual-section.-left-to-right > .tikui-dual-section--slot:first-child {
  text-align: right;
}
.tikui-dual-section.-left-to-right > .tikui-dual-section--slot:last-child {
  margin-right: 0;
  text-align: left;
}
.tikui-dual-section.-distant.-right-to-left > .tikui-dual-section--slot:first-child {
  text-align: right;
}
.tikui-dual-section.-distant.-right-to-left > .tikui-dual-section--slot:last-child {
  text-align: left;
}
.tikui-dual-section.-distant.-left-to-right > .tikui-dual-section--slot:first-child {
  text-align: left;
}
.tikui-dual-section.-distant.-left-to-right > .tikui-dual-section--slot:last-child {
  text-align: right;
}

@media screen and (max-width: 986px) {
  .tikui-dual-section {
    display: block;
  }
  .tikui-dual-section.-distant.-right-to-left > .tikui-dual-section--slot:first-child, .tikui-dual-section.-distant.-right-to-left > .tikui-dual-section--slot:last-child, .tikui-dual-section.-distant.-left-to-right > .tikui-dual-section--slot:first-child, .tikui-dual-section.-distant.-left-to-right > .tikui-dual-section--slot:last-child, .tikui-dual-section.-right-to-left > .tikui-dual-section--slot:first-child, .tikui-dual-section.-right-to-left > .tikui-dual-section--slot:last-child, .tikui-dual-section.-left-to-right > .tikui-dual-section--slot:first-child, .tikui-dual-section.-left-to-right > .tikui-dual-section--slot:last-child {
    margin: 0 0 100px;
    text-align: center;
  }
  .tikui-dual-section.-distant.-right-to-left > .tikui-dual-section--slot:last-child, .tikui-dual-section.-distant.-left-to-right > .tikui-dual-section--slot:last-child, .tikui-dual-section.-right-to-left > .tikui-dual-section--slot:last-child, .tikui-dual-section.-left-to-right > .tikui-dual-section--slot:last-child {
    margin-bottom: 0;
  }
}
.tikui-line-section {
  display: flex;
  flex-direction: row;
}
.tikui-line-section.-s16 .tikui-line-section--column {
  margin: 0 16px 0 0;
}
.tikui-line-section.-s16 .tikui-line-section--column:last-child {
  margin: 0;
}
.tikui-line-section.-s24 .tikui-line-section--column {
  margin: 0 24px 0 0;
}
.tikui-line-section.-s24 .tikui-line-section--column:last-child {
  margin: 0;
}
.tikui-line-section.-s32 .tikui-line-section--column {
  margin: 0 32px 0 0;
}
.tikui-line-section.-s32 .tikui-line-section--column:last-child {
  margin: 0;
}
.tikui-line-section.-s64 .tikui-line-section--column {
  margin: 0 64px 0 0;
}
.tikui-line-section.-s64 .tikui-line-section--column:last-child {
  margin: 0;
}
.tikui-line-section.-s100 .tikui-line-section--column {
  margin: 0 100px 0 0;
}
.tikui-line-section.-s100 .tikui-line-section--column:last-child {
  margin: 0;
}
.tikui-line-section.-s200 .tikui-line-section--column {
  margin: 0 200px 0 0;
}
.tikui-line-section.-s200 .tikui-line-section--column:last-child {
  margin: 0;
}
.tikui-line-section--column {
  flex-basis: 0;
  flex-grow: 1;
  min-width: 0;
}

@media screen and (max-width: 1400px) {
  .tikui-line-section {
    flex-direction: column;
  }
  .tikui-line-section.-s16 .tikui-line-section--column {
    margin: 0 0 16px;
  }
  .tikui-line-section.-s16 .tikui-line-section--column:last-child {
    margin: 0;
  }
  .tikui-line-section.-s24 .tikui-line-section--column {
    margin: 0 0 24px;
  }
  .tikui-line-section.-s24 .tikui-line-section--column:last-child {
    margin: 0;
  }
  .tikui-line-section.-s32 .tikui-line-section--column {
    margin: 0 0 32px;
  }
  .tikui-line-section.-s32 .tikui-line-section--column:last-child {
    margin: 0;
  }
  .tikui-line-section.-s64 .tikui-line-section--column {
    margin: 0 0 64px;
  }
  .tikui-line-section.-s64 .tikui-line-section--column:last-child {
    margin: 0;
  }
  .tikui-line-section.-s100 .tikui-line-section--column {
    margin: 0 0 100px;
  }
  .tikui-line-section.-s100 .tikui-line-section--column:last-child {
    margin: 0;
  }
  .tikui-line-section.-s200 .tikui-line-section--column {
    margin: 0 0 200px;
  }
  .tikui-line-section.-s200 .tikui-line-section--column:last-child {
    margin: 0;
  }
  .tikui-line-section--column {
    margin-right: 0;
  }
}
.tikui-header {
  display: flex;
  align-items: center;
  height: 94px;
}
.tikui-header--slot {
  margin: 0 80px 0 0;
}
.tikui-header--slot:last-child {
  margin-right: 0;
}
.tikui-header--slot.-expand {
  flex-grow: 1;
}

@media screen and (max-width: 1400px) {
  .tikui-header {
    flex-direction: column;
    margin: 10px;
    height: auto;
  }
  .tikui-header--slot {
    margin: 0 0 10px 0;
  }
  .tikui-header--slot:last-child {
    margin-bottom: 0;
  }
}
.tikui-linear-molecule {
  display: flex;
}
.tikui-linear-molecule--atom {
  flex-basis: 0;
  flex-grow: 1;
  margin-right: -30px;
}
.tikui-linear-molecule--atom:last-child {
  margin-right: 0;
}

@media screen and (max-width: 986px) {
  .tikui-linear-molecule {
    flex-direction: column;
  }
  .tikui-linear-molecule--atom {
    margin-right: 0;
    margin-bottom: -30px;
  }
  .tikui-linear-molecule--atom:last-child {
    margin-bottom: 0;
  }
}
.tikui-horizontal-spacing {
  display: flex;
}
.tikui-horizontal-spacing.-s16 > .tikui-horizontal-spacing--column {
  margin-right: 16px;
}
.tikui-horizontal-spacing.-s16 > .tikui-horizontal-spacing--column:last-child {
  margin-right: 0;
}
.tikui-horizontal-spacing.-s24 > .tikui-horizontal-spacing--column {
  margin-right: 24px;
}
.tikui-horizontal-spacing.-s24 > .tikui-horizontal-spacing--column:last-child {
  margin-right: 0;
}
.tikui-horizontal-spacing.-s32 > .tikui-horizontal-spacing--column {
  margin-right: 32px;
}
.tikui-horizontal-spacing.-s32 > .tikui-horizontal-spacing--column:last-child {
  margin-right: 0;
}
.tikui-horizontal-spacing.-s64 > .tikui-horizontal-spacing--column {
  margin-right: 64px;
}
.tikui-horizontal-spacing.-s64 > .tikui-horizontal-spacing--column:last-child {
  margin-right: 0;
}
.tikui-horizontal-spacing.-s100 > .tikui-horizontal-spacing--column {
  margin-right: 100px;
}
.tikui-horizontal-spacing.-s100 > .tikui-horizontal-spacing--column:last-child {
  margin-right: 0;
}
.tikui-horizontal-spacing.-s200 > .tikui-horizontal-spacing--column {
  margin-right: 200px;
}
.tikui-horizontal-spacing.-s200 > .tikui-horizontal-spacing--column:last-child {
  margin-right: 0;
}
.tikui-horizontal-spacing.-inline {
  display: inline-flex;
}
.tikui-horizontal-spacing.-equivalent > .tikui-horizontal-spacing--column {
  flex-basis: 0;
  flex-grow: 1;
}

.tikui-vertical-spacing.-s16 > .tikui-vertical-spacing--line {
  margin-bottom: 16px;
}
.tikui-vertical-spacing.-s16 > .tikui-vertical-spacing--line:last-child {
  margin-bottom: 0;
}
.tikui-vertical-spacing.-s24 > .tikui-vertical-spacing--line {
  margin-bottom: 24px;
}
.tikui-vertical-spacing.-s24 > .tikui-vertical-spacing--line:last-child {
  margin-bottom: 0;
}
.tikui-vertical-spacing.-s32 > .tikui-vertical-spacing--line {
  margin-bottom: 32px;
}
.tikui-vertical-spacing.-s32 > .tikui-vertical-spacing--line:last-child {
  margin-bottom: 0;
}
.tikui-vertical-spacing.-s64 > .tikui-vertical-spacing--line {
  margin-bottom: 64px;
}
.tikui-vertical-spacing.-s64 > .tikui-vertical-spacing--line:last-child {
  margin-bottom: 0;
}
.tikui-vertical-spacing.-s100 > .tikui-vertical-spacing--line {
  margin-bottom: 100px;
}
.tikui-vertical-spacing.-s100 > .tikui-vertical-spacing--line:last-child {
  margin-bottom: 0;
}
.tikui-vertical-spacing.-s200 > .tikui-vertical-spacing--line {
  margin-bottom: 200px;
}
.tikui-vertical-spacing.-s200 > .tikui-vertical-spacing--line:last-child {
  margin-bottom: 0;
}

.tikui-template-page {
  display: flex;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  flex-direction: column;
}
.tikui-template-page--container {
  box-sizing: content-box;
  flex-basis: 0;
  flex-grow: 1;
  margin: 0 auto;
  padding: 0 80px;
  width: auto;
  min-width: 0;
  max-width: 1232px;
}
.tikui-template-page--body {
  display: flex;
  flex-grow: 1;
  background-color: #fff7f3;
  padding: 80px 0;
  overflow: auto;
}
.tikui-template-page--nav {
  box-sizing: content-box;
  position: sticky;
  top: 0;
  padding: 0 32px;
  width: 340px;
  overflow: auto;
}
.tikui-template-page--header {
  background-color: #fff;
}
.tikui-template-page.-atomized .tikui-template-page--body {
  background-attachment: local;
  background-image: url("assets/atom-background.svg");
  background-position-x: calc(50vw - 260px);
  background-position-y: -1260px;
  background-repeat: no-repeat;
}

@media screen and (max-width: 1400px) {
  .tikui-template-page {
    overflow: auto;
  }
  .tikui-template-page--container {
    padding: 0 2vw;
    width: auto;
  }
  .tikui-template-page--body {
    display: block;
    padding: 2vw 0;
    overflow: visible;
  }
  .tikui-template-page--nav {
    position: static;
    width: auto;
  }
}
.doc-iframe {
  border: 1px solid #000;
  background: #fff;
  width: 100%;
  resize: both;
}

.doc-code-example {
  max-height: 200px;
  overflow: auto;
}