@use '../../token/size';

.menu-main {
  display: flex;
  flex-wrap: wrap;
  gap: size.$spacing-vertical-menu-main size.$spacing-horizontal-menu-main;
  justify-content: center;
  margin: 0;
  padding: 0;
  list-style: none;
}
