include /atom/menu-main-entry/menu-main-entry.mixin.pug

mixin menu-main
  ul.menu-main
    block

mixin menu-main--entry
  li.menu-main--entry
    block

mixin menu-main--entry-link(link)
  +menu-main--entry
    +menu-main-entry({link})
      block

mixin menu-main-example
  +menu-main
    +menu-main--entry-link('#1') Entry 1
    +menu-main--entry-link('#2') Entry 2
    +menu-main--entry-link('#3') Entry 3
    +menu-main--entry-link('#4') Entry 4
    +menu-main--entry-link('#5') Entry 5
