extends /layout-documentation

block append vars
  -active='atom'

block title
  title Tikui - Atoms

block content
  .tikui-vertical-spacing.-s32
    .tikui-vertical-spacing--line
      h1.tikui-title-main#atoms Atoms
    .tikui-vertical-spacing--line
      include /documentation/atomic-design/quote/atom
    .tikui-vertical-spacing--line
      include:componentDoc(height=100) button/button.md
    .tikui-vertical-spacing--line
      include:componentDoc(height=100) button-social/button-social.md
    .tikui-vertical-spacing--line
      include:componentDoc(height=100) icon-tag/icon-tag.md
    .tikui-vertical-spacing--line
      include:componentDoc(height=100) link/link.md
    .tikui-vertical-spacing--line
      include:componentDoc(height=100) list/list.md
    .tikui-vertical-spacing--line
      include:componentDoc(height=100) menu-main-entry/menu-main-entry.md
    .tikui-vertical-spacing--line
      include:componentDoc(height=100) paragraph/paragraph.md
    .tikui-vertical-spacing--line
      include:componentDoc(height=450) speaker-picture/speaker-picture.md
    .tikui-vertical-spacing--line
      include:componentDoc(height=300) title-home/title-home.md
    .tikui-vertical-spacing--line
      include:componentDoc(height=150) title-main/title-main.md
    .tikui-vertical-spacing--line
      include:componentDoc(height=100) title-section/title-section.md
    .tikui-vertical-spacing--line
      include:componentDoc(height=560) youtube-video/youtube-video.md
