@function var-color($name) {
  @return var(--color-#{$name});
}

$text: var-color(text);
$text-light: var-color(text-light);
$background-dark: var-color(background-dark);
$background-dark-0: var-color(background-dark-0);
$background-dark-80: var-color(background-dark-80);
$background-light-80: var-color(background-light-80);
$background-page: var-color(background-page);
$background-content: var-color(background-content);
$success: var-color(success);
$error: var-color(error);
