extends /layout.pug

include /atom/button/button.mixin.pug
include /atom/link/link.mixin.pug
include /atom/paragraph/paragraph.mixin.pug
include /atom/title-main/title-main.mixin.pug
include /atom/title-section/title-section.mixin.pug
include /organism/header/header.mixin.pug
include /organism/v-space/v-space.mixin.pug
include /organism/padded-section/padded-section.mixin.pug
include /template/layout-main/layout-main.mixin.pug

block config
  -const pageTitle = 'Comment venir'

block body
  +layout-main
    +v-space('sections')
      +v-space--line
        +header('[[TIKUI_BASEPATH]]images/header.webp')
          +header-home--content
            +title-main=pageTitle
      +v-space--line
        main
          +padded-section
            +v-space('sections')
              +v-space--line
                +v-space('section')
                  +v-space--line
                    +title-section Plan
                  +v-space--line
                    +v-space('paragraphs')
                      +v-space--line
                        +paragraph
                          iframe(width='100%' height='450px' frameborder='0' allowfullscreen src='https://umap.openstreetmap.fr/fr/map/lyon-craft_870847?scaleControl=false&miniMap=false&scrollWheelZoom=true&zoomControl=true&allowEdit=false&moreControl=true&searchControl=null&tilelayersControl=null&embedControl=null&datalayersControl=true&onLoadPanel=undefined&captionBar=false')
                      +v-space--line
                        +paragraph({align: 'center'})
                          | L’Embarcadère#[br]
                          | 13 bis quai Rambaud#[br]
                          | 69002 Lyon
              +v-space--line
                +v-space('section')
                  +v-space--line
                    +title-section Venir en transport en commun
                  +v-space--line
                    +v-space('paragraphs')
                      +v-space--line
                        +paragraph En venant du Nord (Perrache), au plus proche c’est la station de tram de la place des archives (ligne T1 et T2), ou la station Perrache du métro A.
                      +v-space--line
                        +paragraph En venant du Sud (musée des Confluences ou Gerland), s’arrêter à la station de tram de Sainte-Blandine (ligne T1).
                      +v-space--line
                        +paragraph Dans tous les cas, il y a #[+link('https://www.tcl.fr/itineraires?from=4.8597799%3B45.7604257&to=4.819371%3B45.747997&date=20250414T084500&modes=arrival,metro,funiculaire,tramway,bus&journey=0', {target: '_blank'}) le site des TCL], le lien est configuré pour un départ de la gare de la Part-Dieu avec une arrivée sur place à 8h45.
              +v-space--line
                +v-space('section')
                  +v-space--line
                    +title-section Venir à vélo
                  +v-space--line
                    +v-space('paragraphs')
                      +v-space--line
                        +paragraph
                          | Planifier votre trajet avec #[+link('https://geovelo.fr/fr/route?bike-type=own&c=4.826599%2C45.757249&e-bike=false&from=4.833560%2C45.767240&to=4.817990%2C45.747480&z=14.26&zone=lyon', {target:'_blank'}) Géovélo]
                          | , le lien est configuré pour arriver sur place depuis la place des Terreaux.
                      +v-space--line
                        +paragraph Pour les usagers des Vélov, il y a une station juste à côté au 15 quai Rambaud, deux autres un peu plus loin indiquées par des pictogrammes vélo sur la carte.
              +v-space--line
                +v-space('section')
                  +v-space--line
                    +title-section Venir en voiture
                  +v-space--line
                    +paragraph({align: 'center'}) Bon courage.
              +v-space--line
                +button('[[TIKUI_BASEPATH]]index.html')
                  +button--icon('left')
                  | Retour à l'accueil
