@use '../../token/color';
@use '../../token/size';
@use '../../token/font';
@use '../../token/radius';

.button {
  display: inline-flex;
  gap: size.$spacing-cell;
  align-items: center;
  justify-content: center;
  transition: 300ms;
  border: 1px solid color.$text;
  border-radius: radius.$classic;
  background-color: color.$background-light-80;
  cursor: pointer;
  padding: size.$spacing-cell;
  text-decoration: none;
  color: color.$text;
  font-family: font.$family;
  font-size: font.$size-text;

  &:hover,
  &:focus-visible {
    background-color: color.$background-dark;
    color: color.$text-light;
  }

  &--icon {
    &::before {
      margin: 0;
    }
  }

  &.-block {
    display: flex;
  }

  &.-big {
    border-radius: calc(#{radius.$classic} * 1.5);
    padding: calc(#{size.$spacing-cell} * 1.5);
    font-size: calc(#{font.$size-text} * 1.5);
  }
}
