@use '../../token/size';
@use '../../token/font';
@use '../../token/color';
@use '../../organism/header/header-ion';
@include header-ion.text('.title-main');

.title-main {
  margin: 0;
  text-align: center;
  color: color.$text;
  font-family: font.$family;
  font-size: font.$size-title-main;
  font-weight: font.$weight-title-main;
}
