@use '../../token/font';
@use '../../token/color';
@use '../../token/breakpoint';

.title-section {
  --_width: 500px;
  --_half-width: calc(var(--_width) / 2);

  box-sizing: border-box;
  display: flex;
  gap: 1rem;
  align-items: center;
  margin: 0;
  padding: 0 1rem;
  width: 100%;
  color: color.$text;
  font-family: font.$family;
  font-size: font.$size-title-section;
  font-weight: font.$weight-title-section;

  &::before,
  &::after {
    display: block;
    flex-basis: 0;
    flex-grow: 1;
    background-color: color.$text;
    width: 100%;
    min-width: 0;
    height: 2px;
    content: '';
  }

  &--text {
    display: block;
  }

  @media screen and (min-width: breakpoint.$standard) {
    margin: 0 auto;
    padding: 0;
    width: var(--_width);

    &.-left {
      margin-left: 0;
      width: var(--_half-width);

      &::before {
        display: none;
      }
    }
  }
}
