@use '../../token/breakpoint';
@use '../../token/font';
@use '../../token/color';
@use '../../token/size';

$program-columns: 4;
$program-spacing: 2px;
$program-radius: 5px;

a.program--slot .program--title {
  text-decoration: underline;
}

a.program--slot:hover {
  box-shadow: 0 0 0.5rem color.$background-dark-80;
}

.program {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: $program-spacing;

  &--title {
    margin: 0;
    font-size: inherit;
  }

  &--location,
  &--duration {
    display: block;
  }

  &--venue {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: stretch;
    border-bottom: 1px dotted color.$text;
    padding: $program-spacing;
  }

  &--tuple {
    display: flex;
    gap: size.$spacing-cell;
    align-items: center;
    margin: 0;
  }

  &--content {
    display: flex;
    flex-direction: column;
    gap: size.$spacing-cell;
    padding: $program-spacing;
    text-align: center;
  }

  &--slot {
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-end;
    border: 1px solid color.$text;
    border-radius: $program-radius;
    overflow: hidden;
    text-decoration: none;
    color: color.$text;
    font-family: font.$family;
    font-size: 0.8rem;

    &.-break {
      display: none;
      border-style: dashed;
      background-color: color.$background-page;
      min-height: size.$spacing-paragraphs;
    }

    &.-hour {
      display: none;
    }
  }

  @media screen and (min-width: breakpoint.$standard),
    (orientation: landscape) {
    display: grid;
    grid-template-columns: repeat($program-columns, 1fr);
    grid-auto-rows: minmax(size.$spacing-paragraphs, auto);
    grid-gap: $program-spacing;

    &--slot {
      &.-break {
        display: block;
      }

      &.-room-all {
        grid-column: 1 /#{$program-columns + 1};
      }

      @for $i from 1 through $program-columns {
        &.-room-#{$i} {
          grid-column: #{$i}/#{$i + 1};
        }
      }

      @for $i from 1 through $program-columns - 1 {
        &.-room-#{$i}-#{$i + 1} {
          grid-column: #{$i}/#{$i + 2};
        }
      }

      @for $i from 1 through 10 {
        &.-c-#{$i} {
          grid-row: span #{$i};
        }
      }
    }
  }

  @media screen and (min-width: breakpoint.$large) {
    &--venue {
      gap: size.$spacing-cell;
      justify-content: flex-start;
      border-right: 1px dotted color.$text;
      border-bottom: 0;
      width: 5rem;
    }

    &--tuple {
      flex-direction: column;
      gap: $program-spacing;
    }

    &--content {
      flex-basis: 0;
      flex-grow: 1;
    }

    &--slot {
      flex-direction: row-reverse;
    }
  }
}
