include /atom/link/link.mixin.pug
include /atom/icon-tag/icon-tag.mixin.pug

mixin program
  .program
    block

mixin program--slot-hour
  .program--slot.-hour
    block
mixin program--slot-room(room, collapse, slug)
  -const collapseClass = collapse ? `-c-${collapse}` : null;
  -const selector = slug ? 'a' : 'div';
  -const href = slug ? `[[TIKUI_BASEPATH]]sessions/${slug}.html` : null;
  #{selector}.program--slot(class=[`-room-${room}`, collapseClass] href=href id=slug)
    block

mixin program--slot-session(options)
  -const {where, collapse, title, speaker, start, end, location, duration, slug, laptop} = options || {};
  -
    const locationEntries = {
      all: 'Halle',
      1: 'Halle',
      2: 'Murmures',
      3: 'Escale',
      4: 'P & Play',
    }
  -const whereKey = where?.toString();
  -const whereLocations = new Map(Object.entries(locationEntries))
  +program--slot-room(where, collapse, slug)
    .program--content
      h3.program--title=title
      if speaker
        .program--speaker=speaker
      if laptop
        .program--requirements
          +icon-tag('Un ordinateur portable est nécessaire pour cette session', 'laptop')
    .program--venue
      p.program--tuple
        strong.program--location=location || whereLocations.get(whereKey)
        if duration
          em.program--duration=duration
      p.program--tuple
        span.program--start=start
        span.program--end=end

mixin program--slot-break(room, collapse)
  -const collapseClass = collapse ? `-c-${collapse}` : null;
  .program--slot.-break(class=[`-room-${room}`, collapseClass])
    block

mixin program-2025
  +program
    +program--slot-session({
      title: 'Accueil / petit déj.',
      where: 'all',
      location: 'Galerie',
      start: '08h30',
      end: '09h15',
    })
    +program--slot-session({
      title: 'Ouverture',
      where: 'all',
      start: '09h15',
      end: '09h45',
      duration: '30min',
      speaker: 'Organisateurs & Sponsors'
    })
    +program--slot-session({
      title: 'À venir',
      where: 1,
      location: 'Halle',
      start: '09h45',
      end: '12h20',
    })
    +program--slot-session({
      title: 'À venir',
      where: 2,
      location: 'Murmures',
      start: '08h30',
      end: '12h20',
    })
    +program--slot-session({
      title: 'À venir',
      where: 3,
      location: 'Escale',
      start: '08h30',
      end: '12h20',
    })
    +program--slot-session({
      title: 'À venir',
      where: 4,
      location: 'P & Play',
      start: '08h30',
      end: '12h20',
    })

    +program--slot-session({
      title: 'Pause midi',
      where: 'all',
      location: 'Galerie',
      start: '12h20',
      end: '13h45',
    })

    +program--slot-session({
      title: 'À venir',
      where: 1,
      location: 'Halle',
      start: '13h45',
      end: '15h55',
    })
    +program--slot-session({
      title: 'À venir',
      where: 2,
      location: 'Murmures',
      start: '13h45',
      end: '15h55',
    })
    +program--slot-session({
      title: 'À venir',
      where: 3,
      location: 'Escale',
      start: '13h45',
      end: '15h55',
    })
    +program--slot-session({
      title: 'À venir',
      where: 4,
      location: 'P & Play',
      start: '13h45',
      end: '15h55',
    })

    +program--slot-session({
      title: 'Pause goûter',
      where: 'all',
      location: 'Galerie',
      start: '15h55',
      end: '16h30',
      duration: '35min',
    })

    +program--slot-session({
      title: 'À venir',
      where: 1,
      location: 'Halle',
      start: '16h30',
      end: '17h15',
    })
    +program--slot-session({
      title: 'À venir',
      where: 2,
      location: 'Murmures',
      start: '16h30',
      end: '17h15',
    })
    +program--slot-session({
      title: 'À venir',
      where: 3,
      location: 'Escale',
      start: '16h30',
      end: '17h15',
    })
    +program--slot-session({
      title: 'À venir',
      where: 4,
      location: 'P & Play',
      start: '16h30',
      end: '17h15',
    })

    +program--slot-break('all')

    +program--slot-session({
      title: 'Conclusion',
      where: 'all',
      start: '17h25',
      end: '17h35',
      duration: '10min',
    })

    +program--slot-session({
      title: 'Apéro',
      where: 'all',
      location: 'Galerie',
      start: '17h35',
      end: '19h00',
    })
