mixin meta-properties(options)
  -const {page, title, description} = options || {};
  -const SITE_URL = 'https://lyon-craft.fr';
  -const SITE_TITLE = 'Lyon Craft';
  -const ogUrl = page ? `${SITE_URL}/${page}.html` : SITE_URL;
  -const ogTitle = title ? `${SITE_TITLE} - ${title}` : `${SITE_TITLE}, le lundi 14 avril 2025`;
  -const finalDescription = description ? description : 'Lyon Craft est une conférence sur les pratiques de développement autour du Software Craftsmanship. Il y aura des présentation avec du live-coding ou des retours d’expérience, des ateliers (EventStorming, coding dojo) pour découvrir par la pratique et des pauses pour échanger.';
  meta(name='description' content=finalDescription)
  meta(property='og:url' content=ogUrl)
  meta(property='og:type' content='website')
  meta(property='og:title' content=ogTitle)
  meta(property='og:description' content=finalDescription)
  meta(property='og:locale' content='fr_FR')
