extends /layout

include /atom/button/button.mixin.pug
include /atom/button-social/button-social.mixin.pug
include /atom/link/link.mixin.pug
include /atom/list/list.mixin.pug
include /atom/paragraph/paragraph.mixin.pug
include /atom/title-home/title-home.mixin.pug
include /atom/title-section/title-section.mixin.pug
include /molecule/menu-main/menu-main.mixin.pug
include /molecule/social-bar/social-bar.mixin.pug
include /organism/budget/budget.mixin.pug
include /organism/header-home/header-home.mixin.pug
include /organism/items-area/items-area.mixin.pug
include /organism/padded-section/padded-section.mixin.pug
include /organism/program/program.mixin.pug
include /organism/v-space/v-space.mixin.pug
include /organism/workshop-area/workshop-area.mixin.pug
include /template/layout-main/layout-main.mixin.pug
include /mixins/meta.mixin.pug

mixin tickets(options)
  -const {display, size} = options || {};
  +button('https://www.billetweb.fr/lyoncraft-2025', {display, size, target: '_blank'}) Achète ta place
    +button--icon('right')

mixin index-kesako
  +v-space--line
    +padded-section({id: 'kesako'})
      +workshop-area('[[TIKUI_BASEPATH]]images/workshop.webp')
        +v-space('section')
          +v-space--line
            +title-section({orientation: 'left'}) Késako ?
          +v-space--line
            +v-space('paragraphs')
              +v-space--line
                +paragraph Lyon Craft c'est une journée pour échanger autour de la très large thématique qu'est le #[+link('https://manifesto.softwarecraftsmanship.org/', {target: '_blank'}) Software Craftsmanship].
              +v-space--line
                +paragraph Un moment pour partager avec des actrices et acteurs locaux.#[br]L'occasion, aussi, de découvrir ce mouvement ou de perfectionner notre usage des approches qu'il plébiscite.
              +v-space--line
                +paragraph Les #[+link('https://www.meetup.com/fr-FR/software-craftsmanship-lyon/', {target: '_blank'}) Software Crafters Lyon] ont fait leur possible pour proposer un contenu :
              +v-space--line
                +list
                  +list--item accessible si vous découvrez ces sujets,
                  +list--item intéressant s'ils vous sont familiers.
              +v-space--line
                +paragraph #[+link('https://ideme.fr/', {target: '_blank'}) Ideme] a rendu l'événement possible en s'occupant de l'organisation et de l'avancement des frais.
              +v-space--line
                +tickets({display: 'block'})

mixin sponsor-info(options)
  -const {name, logo, link, height, width} = options || {};
  -const realWidth = width ?? 110;
  -const realHeight = height ?? 110;
  +items-area--slot
    a(href=link target='_blank')
      img(src=`[[TIKUI_BASEPATH]]images/logo-${logo}` alt=name width=realWidth height=realHeight)

mixin index-sponsors
  +v-space--line
    +padded-section({id: 'sponsors'})
      +v-space('section')
        +v-space--line
          +title-section Sponsors
        +v-space--line({align: 'center'})
          +items-area('sponsors')
            +items-area--slot
              +button('[[TIKUI_BASEPATH]]sponsoring/sponsoring.pdf', {display: 'block', target: '_blank'}) Devenir sponsor
        +v-space--line({align: 'center'})
          +items-area('sponsors')
            +sponsor-info({name: 'HackYourJob', logo: 'hackyourjob.png', link: 'https://www.hackyourjob.org/'})
            +sponsor-info({name: 'Shodo', logo: 'shodo.png', link: 'https://shodo.io/'})

mixin index-vips
  +v-space--line
    +padded-section({id: 'vip'})
      +v-space('section')
        +v-space--line
          +title-section VIP
        +v-space--line({align: 'center'})
          +items-area('sponsors')
            +sponsor-info({name: 'PunkinDev', logo: 'punkindev.png', link: 'https://punkindev.fr/', width: 83})

mixin index-program
  +v-space--line
    +padded-section({id: 'programme', light: true})
      +v-space('section')
        +v-space--line
          +title-section Programme
        +v-space--line
          +program-2025

mixin index-budget
  +v-space--line
    +padded-section({id: 'budget'})
      +v-space('section')
        +v-space--line
          +title-section Budget
        +v-space--line({align: 'center'})
          +paragraph Comme d'habitude et en toute transparence, le budget pour la journée !
        +v-space--line({align: 'stretch'})
          +budget
            +budget--line('Salle avec prestations', -14652)
            +budget--line('Nourriture et boissons', 0)
            +budget--line('Goodies', 0)
            +budget--line('Consommables', 0)
            +budget--line('Matériel son', 0)
            +budget--line('Déplacements', 0)
            +budget--line('Hébergements', 0)
            +budget--line('Soirée speakers', 0)
            +budget--line('Sponsoring HackYourJob', 3000)
            +budget--line('Sponsoring Shodo Lyon', 3000)
            +budget--line('VIP PunkinDev', 500)
            +budget--line('Vente billets', 0)

mixin index-footer
  +v-space--line
    footer
      +social-bar
        +social-bar--entry
          +button-social('meetup', 'https://www.meetup.com/fr-FR/software-craftsmanship-lyon/') Meetup
        +social-bar--entry
          +button-social('discord', 'https://discord.gg/T6wJUWW') Discord
        +social-bar--entry
          +button-social('youtube-play', 'https://www.youtube.com/@softwarecrafterslyon9383') YouTube
        +social-bar--entry
          +button-social('twitch', 'https://www.twitch.tv/swcraftlyon') Twitch

block head
  +meta-properties

block body
  +layout-main
    +v-space('sections')
      +v-space--line
        +header-home('[[TIKUI_BASEPATH]]images/header.webp')
          +header-home--content
            +v-space('section', {align: 'center'})
              +v-space--line
                +title-home({
                  date: 'Le lundi 14 avril 2025',
                  description: 'Des passionné·e·s, des ateliers, des présentations et… c’est déjà pas mal !',
                }) Lyon Craft
              +v-space--line
                +tickets({size: 'big'})
          +header-home--menu
            nav
              +menu-main
                +menu-main--entry-link('#kesako') Késako
                +menu-main--entry-link('#sponsors') Sponsors
                +menu-main--entry-link('#programme') Programme
                +menu-main--entry-link('#budget') Budget
                +menu-main--entry-link('[[TIKUI_BASEPATH]]pages/acces.html') Accès
                +menu-main--entry-link('[[TIKUI_BASEPATH]]pages/regles.html') Règles
                +menu-main--entry-link('/2024/') Édition 2024
          +header-home--social
            +social-bar({align: 'right', orientation: 'vertical'})
              +social-bar--entry
                +button-social('meetup', 'https://www.meetup.com/fr-FR/software-craftsmanship-lyon/', {small: true}) Meetup
              +social-bar--entry
                +button-social('discord', 'https://discord.gg/T6wJUWW', {small: true}) Discord
              +social-bar--entry
                +button-social('youtube-play', 'https://www.youtube.com/@softwarecrafterslyon9383', {small: true}) YouTube
              +social-bar--entry
                +button-social('twitch', 'https://www.twitch.tv/swcraftlyon', {small: true}) Twitch
      +v-space--line
        main
          +v-space('sections')
            +index-kesako
            +index-sponsors
            +index-vips
            +index-program
            +index-budget
      +index-footer
