@use '../../token/color';

@mixin text($selector: '') {
  .header-home #{$selector} {
    color: color.$text-light;
  }
}

@mixin social($selector: '') {
  .header-home #{$selector} {
    color: color.$text-light;

    &::before {
      border-color: color.$text-light;
    }

    &:hover,
    &:focus-visible {
      color: color.$text;

      &::before {
        border-color: color.$text;
        background-color: color.$background-light-80;
      }
    }
  }
}

@mixin background-line($selector: '') {
  .header-home #{$selector} {
    background-color: color.$text-light;
  }
}
